sudo: false

env:
  SYMFONY_ENV=test

language: php

services:
  - postgresql

php:
  - 7.1

before_install:
 - psql -c 'create database rapier;' -U postgres

install:
  - travis_retry composer selfupdate
  - travis_retry composer install --no-interaction --prefer-source

before_script:
  - phpenv config-add php.ini.dist

  - ./bin/console doctrine:schema:create

script:
  - ./vendor/bin/php-cs-fixer fix --config=.php_cs --dry-run
  - ./vendor/bin/phpunit

after_success:
after_failure:
after_script:
before_deploy:
deploy:
after_deploy:


