{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <h1>Schedule creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input  class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('schedule_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
