imports:
    - { resource: parameters.yml }
    - { resource: config.yml }

framework:
#    validation:
#        cache: validator.mapping.cache.doctrine.apc
#    serializer:
#        cache: serializer.mapping.cache.doctrine.apc

doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc
    dbal:
        driver:       pdo_pgsql
        host:         "%env(DEPLOY_DATABASE_HOST)%"
        port:         "5432"
        dbname:       "%env(DEPLOY_DATABASE_NAME)%"
        user:         "%env(DEPLOY_DATABASE_USER)%"
        password:     "%env(DEPLOY_DATABASE_PASS)%"
        charset:      UTF8
swiftmailer:
    transport: "gmail"
    encryption: "ssl"
    auth_mode: "login"
    host: 	"smtp.gmail.com"
    username:  "%env(DEPLOY_MAIL_USER)%"
    password:  "%env(DEPLOY_MAIL_PASS)%"

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  'php://stderr'
            level: debug
        console:
            type:  console
