# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     db
    database_port:     5432
    database_name:     rapier
    database_user:     root
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:   smtp
    mailer_host:        mailcatcher
    mailer_port:        1025
    mailer_encryption:  null
    mailer_user:        no-reply@rapier.loc
    mailer_send_as:     "Rapier Service"
    mailer_password:    null

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    api.secret: user
