# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    monolog.multiline_formatter:
        class: Monolog\Formatter\LineFormatter
        arguments: [~, ~, true]

    app.manager.employee_manager:
        class: AppBundle\Model\Manager\EmployeeManager
        arguments:
            - "@app.repository.role"
            - "@doctrine.orm.entity_manager"

    app.repository.role:
        class: Doctrine\ORM\EntityRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - "AppBundle:Role"

    app.security.voter.employee:
        class: AppBundle\Security\Voter\EmployeeVoter
        arguments:
            - "@security.access.decision_manager"
        tags:
            - {name: "security.voter" }
